@model Accounting.Models.Reconciliations

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Mutabakat Ekleme</h3>

            </div>
            <!-- /.box-header -->
            <div class="box-body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">



                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                      
                        <div class="form-group">
                            @Html.LabelFor(model => model.title,"Ad Soyad/Ünvan", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.country,"Ülke", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.taxNumber,"Vergi Numarası", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.taxNumber, new { htmlAttributes = new { @class = "form-control" } })
                            
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.documentNumber,"Fatura Adeti", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.documentNumber, new { htmlAttributes = new { @class = "form-control" } })
                               
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.amountService,"Hizmet/Mal Tutarı", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.amountService, new { htmlAttributes = new { @class = "form-control" } })
                              
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phoneNumber,"Telefon Numarası", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.tcNumber,"TC Kimlik Numarası", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tcNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tcNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.representative,"Görüşen", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.representative, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.representative, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.customer,"Görüşülen", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.customer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.customer, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        

                       

                       

                       
                           @Html.HiddenFor(model=> model.agreementID)
                    

                        

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Geri Dön", "Index", new { id= ViewBag.agreementID }, new { @class = "btn btn-purple" })
                                <input type="submit" value="Ekle" class="btn btn-pink" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->


    </div>
</div>


